@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.date-picker-container {
  position: relative;
  max-width: 50%;
  min-width: 410px;
  background-color: #fafafa;
}
.date-picker-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00A5CF;
}
.date-picker-container .header button {
  align-self: stretch;
  margin: 5px;
  border-radius: 3px;
  min-width: 35px;
  -webkit-appearacnce: none;
  outline: none;
  background-color: #00A5CF;
  color: #fcfcfc;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 200ms ease;
}
.date-picker-container .header button:hover {
  background-color: #0091b6;
}
.date-picker-container .header > div {
  display: flex;
  align-items: center;
}
.date-picker-container .header .h {
  color: #fcfcfc;
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 10px;
  font-size: 2rem;
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 200ms ease;
}
.date-picker-container .header .h:hover {
  background-color: #0091b6;
}
.date-picker-container .header .input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-picker-container .header .input-group input {
  display: inline-block;
  max-width: 100px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #00A5CF;
  color: #fcfcfc;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  transition: background-color 200ms ease;
}
.date-picker-container .header .input-group input:focus, .date-picker-container .header .input-group input:hover {
  background-color: #0091b6;
}
.date-picker-container .header .input-group .buttons {
  margin: 3px 0;
  display: flex;
  flex-direction: column;
}
.date-picker-container .header .input-group .buttons button {
  font-size: 1.1rem;
  margin: 0;
  border-radius: 0;
}
.date-picker-container .content {
  width: 100%;
}
.date-picker-container .content .day-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  background-color: #2d2d2d;
}
.date-picker-container .content .day-container .day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  color: #fafafa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.date-picker-container .content .day-container .day-name {
  font-weight: 700;
  color: #888;
  font-size: 1.2rem;
}
.date-picker-container .content .day-container .day-number {
  border-radius: 2px;
  transition: background-color 200ms ease;
}
.date-picker-container .content .day-container .day-name:nth-child(7),
.date-picker-container .content .day-container .day-number:nth-child(7n) {
  color: #ff685d;
}
.date-picker-container .content .day-container .day-number.active,
.date-picker-container .content .day-container .day-number:hover {
  background: #007c9c;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.date-picker-container .content .month-picker {
  padding: 20px;
  max-width: 410px;
  display: flex;
  flex-wrap: wrap;
  background-color: #2d2d2d;
}
.date-picker-container .content .month-picker .month {
  margin: 5px;
  display: inline-block;
  padding: 10px;
  border-radius: 2px;
  font-size: 1.2rem;
  color: #fafafa;
  cursor: pointer;
  transition: background-color 200ms ease, color 200ms ease;
}
.date-picker-container .content .month-picker .month:hover {
  background-color: #fafafa;
  color: #2d2d2d;
}
.date-picker-container .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.2rem;
}
.date-picker-container .footer span {
  color: #ff685d;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 200ms ease, color 200ms ease, border 100ms ease, padding 200ms ease;
}
.date-picker-container .footer span.active {
  border: 2px solid #00A5CF;
  background-color: rgba(0, 165, 207, 0.2);
  color: #0091b6;
  padding: 7px;
  border-radius: 7px;
}
.date-picker-container .footer button {
  padding: 7px;
  border-radius: 2px;
  border: none;
  font-size: 1.1rem;
  background-color: #00A5CF;
  transition: background-color 200ms ease;
  color: #fff;
  cursor: pointer;
}
.date-picker-container .footer button:first-child {
  margin-right: 4px;
}
.date-picker-container .footer button:hover {
  background-color: #0091b6;
}

.modal {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.35s, opacity 0.35s 0s, transform 0.35s;
}
.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 0.5rem;
}
.modal .modal-content .close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.modal .modal-content .close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*# sourceMappingURL=styles.css.map */
