$accent-color: #34F;
$accent-color: #192BC2;
$accent-color: #00A5CF;
$accent-txt-color: #F7F0F5;

$box-shadow-color: rgb(200, 200, 200);

$header-hover-bg-color: darken($accent-color, 5%);

$button-bg-color: $accent-color;
$button-hover-bg-color: darken($accent-color, 5%);
$button-txt-color: $accent-txt-color;
