@import './mixins';
@import './colors.scss';
@import './variables';

.date-picker-container {
  position: relative;
  max-width: 50%;
  width: 400px;
  // height: 500px;
  background-color: #fafafa;
  box-shadow: 0 0 10px 1px $box-shadow-color;

  .year-and-month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 100%;
    @include disable-text-selection;
  }

  .year-and-month {
    background-color: $accent-color;
    color: $accent-txt-color;
    font-size: 1.2rem;
    // margin-bottom: 10px;
  }

  // .month {
  //   padding: 10px;
  //   font-size: 1.2rem;
  //   color: #444;
  // }

  .headers {
    display: flex;
    max-width: 50%;
  }

  .h {
    display: inline-block;
    // min-width: 50%;
    // max-width: 70%;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color $main-delay ease;

    &:hover {
      background-color: $header-hover-bg-color;
    }
  }

  input {
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    max-width: 45%;
  }

  button {
    // height: 100%;
    align-self: stretch;
    // align-self: center;
    margin: 5px;
    // padding: 10px;
    border-radius: 7px;
    min-width: 35px;
    -webkit-appearacnce: none;
    outline: none;
    background-color: $button-bg-color;
    color: $button-txt-color;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color $main-delay ease;

    &:hover {
      background-color: $button-hover-bg-color;
    }
  }

  .days {
    width: 100%;
    background-color: #333;
    // height: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
    grid-gap: 5px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      color: #ddd;
      @include disable-text-selection;
    }

    div.day {
      font-weight: 700;
      color: #999;
      font-size: 1.1rem;
    }

    div.day:nth-child(7),
    div.number:nth-child(7n) {
      color: #ff685d;
    }

    div.number {
      transition: background-color $main-delay ease;
    }

    div.number.active,
    div.number:hover {
      background: #009688;
      color: #fff;
      font-weight: 700;
      cursor: pointer;
    }
  }

  #footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;

    span {
      color: #ff685d;
      cursor: pointer;
      @include disable-text-selection;
      transition: background-color 200ms ease, color 200ms ease, border 100ms ease, padding 200ms ease;

      &.active {
        border: 2px solid $accent-color;
        background-color: rgba($accent-color, 0.2);
        color: darken($accent-color, 5%);
        padding: 7px;
        border-radius: 7px;
      }
    }

    button {
      background-color: $accent-color;
      border-radius: 2px;
      padding: 7px;
      font-size: 1.1rem;
      transition: background-color $main-delay ease;

      &:hover {
        background-color: darken($accent-color, 5%);
      }
    }
  }
}

#month-picker-container {
  // display: none;
  position: absolute;
  top: 0px;
  left: -125px;
  box-shadow: -5px 0px 10px $box-shadow-color;

  ul {
    list-style: none;
    @include disable-text-selection;
  }

  li {
    padding: 10px 15px;
    font-size: 1.3rem;
    background-color: #fff;
    color: #333;
    cursor: pointer;

    &.active,
    &:hover {
      background-color: $accent-color;
      color: #fefefe;
    }
  }
}

.input-group {
  display: inline-block;
  display: flex;
  align-items: center;
  max-width: 90%;


  input {
    display: inline-block;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    color: #333;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    
    button {
      font-size: 1.1rem;
      border: none;
      border-radius: 0;
      margin: 0;
    }
  }
}
